.Modal-comp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);

  .modal-comp-main {
    box-sizing: border-box;
    position: absolute;
    padding: 0 20px;
    background-color: #fff;

    &.center {
      width: 80%;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    &.bottom {
      width: 100%;
      bottom: 0;
      left: 0;
    }

    .modal-comp-header {
      position: relative;
      height: 88px;
      line-height: 88px;
      text-align: center;

      .modal-comp-title {
        font-size: 32px;
        color: #333;
      }
      .modal-comp-close-btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        color: #333;
      }
    }
    .modal-comp-content {
      padding: 20px;
    }
  }
}
