.TImageUploader-comp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .timage-uploader-comp-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .timage-uoloader-comp-list-item {
      position: relative;
      width: 120px;
      height: 120px;
      margin-left: 20px;

      .timage-uoloader-comp-list-item-del-btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        color: #333;
      }
    }
  }
  .timage-uploader-comp-uploader {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    font-size: 28px;
    background-color: #ff4a4a;
  }
}
